<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="BaseAddress" value="http://localhost:9002/" />

      <add key="IPortfolioService_Address" value="http://localhost:9001/"/>
      <add key="IQuotationService_Address" value="http://localhost:9002/"/>
      <add key="IOrdersService_Address" value="http://localhost:9003/"/>
    </appSettings>
</configuration>